@model ConversionModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <hr>
    <h1 class="display-4">Covert Intelligence suite</h1>
    <hr>
</div>

<body style="background-color:powderblue;">
    @using (Html.BeginForm())
    {
        <fieldset>
            <h2>
                @Html.Label("Enter the number you wish to convert: ")  @Html.EditorFor(x => x.myInput)
            </h2>
            <br />
            @Html.Label("Conversion Options: ")
            <br />
            <input type="submit" value="Decimal To Binary" name="command" />
            <input type="submit" value="Binary To Decimal" name="command" />
            <br /><br />
            <h2>
                @Html.Label("Converts To: ") @Html.DisplayFor(x => x.myOutput)
            </h2>
        </fieldset>
    }
</body>
<footer>
    <hr>
    <div class="container">
        <center>Daniel Bell, 7503592, 2/22/2019</center>
    </div>
    <hr>
</footer>



















    </div>
